﻿@model ISoftGeeks.Data.ErrorTempleteModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password Email</title>
</head>
<body>
    <div>
        There is an error to process the execute non query
        <br/>

        @Model.ErrorBody
        

        <br />
        Thanks,<br/>
        ISoftGeeks.
    </div>
</body>
</html>
