﻿@model IEnumerable<DragonWriterPro.Web.Models.ProjectModel>

@{
    ViewBag.Title = "ProjectList";
}

<h2>ProjectList</h2>

<span>Page Size</span>
<select id="pageSize">
    <option value="0">--Select--</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
</select>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WebPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatabaseServer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DBUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatabaseName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WebPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatabaseServer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DBUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatabaseName)
            </td>
        </tr>
    }

</table>
